---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import IdeaBlock from '../components/IdeaBlock.astro';
import EventRibbon from '../components/EventRibbon.astro';
import LadderSteps from '../components/LadderSteps.astro';
import SignupSection from '../components/SignupSection.astro';
import MembershipBlock from '../components/MembershipBlock.astro';
import AmbitionTeaser from '../components/AmbitionTeaser.astro';
import GetInvolved from '../components/GetInvolved.astro';
import AccessibilitySummary from '../components/AccessibilitySummary.astro';
import PartnerGrid from '../components/PartnerGrid.astro';
import SignupStrip from '../components/SignupStrip.astro';
---
<BaseLayout>
  <main id="main">
    <Hero />
    <IdeaBlock />
    <EventRibbon />
    <LadderSteps />
    <SignupSection />
    <MembershipBlock />
    <AmbitionTeaser />
    <GetInvolved />
    <AccessibilitySummary />
    <PartnerGrid />
    <SignupStrip />
  </main>
</BaseLayout>
